<h1>Quizzes are fun!</h1>
<%= link_to 'Add your favorite color and number', new_favorite_path %>
<h2><%= @favorite.name %>'s favorite color is <%= @favorite.color %> and favorite number is <%= @favorite.number %>.</h2>